[net]
git-fetch-with-cli = true
[user]
	name = "Kerkko Pelttari"
	email = kerk.pelt@gmail.com
	signingkey = 779BD808EA21C02CCAD9A7A2EAC7899527340145
	# signingkey = 1566E1074D6E26477D0186982CBAD605AF74408D
[core]
    excludesfile = ~/.gitignore_global
    editor = nvim
[help]
	autocorrect = -1
[pull]
	ff = only
[push]
    default = current
[log]
    abbrevCommit = false
[pager]
	branch = false
# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
  tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	gpgsign = false
[init]
	defaultBranch = master
[gpg]
	program = gpg
