tabs {
  counter-reset: tab-counter;
}


/* For some reason :nth-last-child(1) or :last-child does not work */
/* tab:last-child .tab-content::before, */
tab:nth-child(1) .tab-content::before,
tab:nth-child(2) .tab-content::before,
tab:nth-child(3) .tab-content::before,
tab:nth-child(4) .tab-content::before,
tab:nth-child(5) .tab-content::before,
tab:nth-child(6) .tab-content::before,
tab:nth-child(7) .tab-content::before,
tab:nth-child(8) .tab-content::before {
  counter-increment: tab-counter;
  content: counter(tab-counter) "";

  position: absolute;
  left: 24px;
  top: 7px;
  padding: 0px 4px;
  border-radius: 7px;

  opacity: .7;
  background: #ff0c;

  font-weight: bold;
  font-size: 100%;
}

/* show vertical lines between tabs */
tab:not(:first-child) {
  border-left: 1px solid #0004 !important;
}
